.locations-list {
    overflow: auto;
    list-style: none;
}

.locations-list li::after {
    content: " ";
    display: table;
    clear: both;
}

.pull-left {
    float: left;
    margin-right: 30px;
}