{% if locations %}
    <ul class="locations-list">
        {% for location in locations %}
            <li>
                <div class="pull-left">
                    <img src="{{ location['icon'] }}" />
                </div>
                <div class="pull-right">
                    <strong>{{ location['name'] }}</strong><br>
                    {{ location['date'] }}<br>
                    {{ location['temp'] }} °C
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    You have not selected any locations.
{% endif %}